@inject IHttpContextAccessor HttpAccessor;
@inject UserManager<User> UserManager;

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    var CurrentUser = UserManager.FindByEmailAsync(HttpAccessor.HttpContext.User.Identity.Name).Result;
}

<div class="site-text">
    <div class="list-page-navbar">
        <div class="mt-4 mb-4 me-4 ms-4">
            <h1 class="site-head-text">Welcome back @CurrentUser.Name @CurrentUser.Surname.</h1>
            <h2 class="mt-3">You can manage your personal information here. Also your favorite lists and list histories are available.</h2>
        </div>
    </div>
    <div class="mt-5 row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
