@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.FavoriteListsNavClass(ViewContext)" id="favorite-lists" asp-page="./FavoriteLists">Favorite Lists</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ListHistoriesNavClass(ViewContext)" id="list-histories" asp-page="./ListHistories">List Histories</a></li>
</ul>
