<body>
    @*Navbar*@
    <div class="navbar fixed-top" style="background-color:#212121">
        <a asp-controller="ShoppingList" asp-action="ActiveLists" asp-route-Page="1"><img class="navbar-logo" src="~/logo.png" /></a>
        <div class="home-page-dropdown" style="margin-right:.5%"><partial name="_LoginPartial" /></div>
    </div>
    @*Main Canvas*@
    <div class="container" style="margin-top:7%;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*Footer*@
    <footer class="navbar fixed-bottom justify-content-center" style="background-color:#212121; color:white">Swiftshop</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>