@model Swiftshop.DTOs.UserDto

<h1>Login</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <input type="text" asp-for="Email" placeholder="Email"/>
            <input type="text" asp-for="Password" />
            <input type="submit" value="Login" class="btn btn-primary" />
        </form>
    </div>
</div>