body {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    background: #0c0c0c;
}
/*
    CSS Starts Here.
*/

.navbar-logo {
    width: 30%;
    margin-top: 1%;
    margin-left: 2%;
}

.login-page-logo {
    padding-top: 25%;
    padding-bottom: 5%;
}

.login-page-text {
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    color: #efefef;
}

.login-page-text-inv {
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    color: #0c0c0c;
}

.home-page-dropdown {
    padding: 1%
}

.home-page-paginator {
    padding-top: 3%;
    padding-bottom: 2%;
}

.home-page-container {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #808080;
}

.manage-product-sidebar {
    margin-left: 30px;
    width: 10%;
    height: 45rem;
    background-color: #212121;
}
