body {
    margin: 0;
    padding: 0;
    line-height: 1;
    background-image: url(/main_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-position: center;
}

.list-page-navbar {
    background: #212121;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    border: 2px solid #ffffff;
}

.list-page-card {
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
}

.list-page-modal {
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    border: 2px solid #ffffff;
}

.list-page-paginator{
    background-color:none;
    color:#efefef;
    text-decoration:none;
}

.site-text {
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    color: #efefef;
}

.site-text-lg {
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    color: #efefef;
    font-size:large;
}

.site-text-sm {
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    color: #efefef;
    font-size: small;
}

.site-text-inv {
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    color: #0c0c0c; 
}

.site-text-inv-lg {
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    color: #0c0c0c;
    font-size: large;
}

.site-text-nocolor {
    font-family: 'Comic Sans MS','Comic Sans',cursive;
}

.site-button {
    background:#212121;
    border-width:0;
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    color: #efefef;
}